

@font-face {
    font-family: Dense;
    src: url(fonts/Dense-Regular.otf);
}

@font-face {
    font-family: always;
    src: url(fonts/always.ttf);
}


@font-face {
    font-family: bebas;
    src: url(fonts/bebas.ttf);
}


@font-face {
    font-family: bold;
    src: url(fonts/bold.ttf);
}


html {

}

.container {
    width: 900px;
    height: 100%;
    
}

.body {
    font-family: 'Helvetica Neue', Arial;
    font-size: 14px;
    height: 100%;
    width: 400px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    letter-spacing: 1px;
   
}

#map-canvas {
    height: 500px;
    width: 850px;
    margin: 0;
    padding: 0;
    border:2px solid #464646;
    margin-bottom: 60px;
    margin-top: 20px;
}




h1 {
    margin-top: 110px;
    font-size: 100px;
    font-family: 'bold';
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
            
    
}

h2 {
    font-family: 'always';
    font-size: 50px;
    color: #464646;
    line-height: 5px;
    text-align: center;
    padding-right: 5px;
    
}

h3 {
    font-size: 30px;
    font-family: 'bold';
    text-align: center;
}


h4 {
    font-family: 'bold';
    font-size:40px;
    color: #464646;
    
    
    
}

h5 {
    font-family: 'Helvetica Neue';
    font-size: 25px;
    color: #464646;
    text-align: left;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 1px;
}


.insta-names {
    font-family: 'Helvetica Neue';
    font-size: 20px;
    color: #464646;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
}

h6 {
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    border: 2px #fff solid;
    padding: 12px 12px 12px 12px;
    background-color: transparent;
    display: inline;
    border-radius: 12px;
   
}





.top {
    height: 700px;
    background-image: url('road_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;
    
    
}

.spotify {
   padding-left: 30px;
   margin-bottom: 50px;
    
}







.insta_pics {
    margin-bottom: 30px;

}


.photogrid {
    display: block;
    padding-bottom: 5px;
    padding-left: 0;
    margin-top: 20px;
    
}


#nav {
    font: 12px/30px Helvetica, sans-serif;
    text-align: center;
    margin-top: 90px;
    
}
 
#nav a {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
}
 

h6:hover {
    opacity: .6;
}


.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}


a {
    color: #464646;
    text-decoration: none;
}

a:hover {
    color: #464646;
    text-decoration: none;
}

#twitter {
    height: 2800px;
    width: 400px;
    margin-left:100px;
    margin-top: 20px;
}


#firstHeading {
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: 100;
    color: #464646;
}

#bodyContent {
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 200;
    color: #464646;
}

p {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 18px;
    color: #646464;
}

.text {
    font-family: 'Helvetica Neue';
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
    color: #646464;
    padding: 0 30px 60px 30px;
    letter-spacing: 1px;
}



ol {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
}

.music {
    padding-bottom: 10px;
}

.after-music {
    margin-bottom: 40px;
}

.bottom {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}


